# LTV Heatmap
Have to learn how to make an LTV Heatmap using Cohort analysis?

In [35]:
# Libraries
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
# load data
df = pd.read_csv('payments.csv')

### Preliminary Exploration

In [3]:
df.head()

        account_id     payment_id  payment_usd payment_date
0  hbQ5GR1L54QtQAB  QhQfR06N8dQAO        50.00   2021-01-28
1  vsQ5GR1KF4QtQAH  Q7QfR06N8dQAO       968.07   2021-01-28
2  5jQ5GR1Uz4QtQAB  Q6QfR06N8dQAO       763.67   2021-01-28
3  hnQ5GR1O34QtQAB  Q2QfR06N8dQAO      2378.57   2021-01-28
4  ztQ5GR1Ha4QtQAF  Q0QfR06N8dQAO      2855.84   2021-01-28

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6890 entries, 0 to 6889
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    6890 non-null   object
 1   payment_id    6890 non-null   object
 2   payment_usd   6890 non-null   float64
 3   payment_date  6890 non-null   object
dtypes: float64(1), object(3)
memory usage: 215.4+ KB

In [33]:
# First and last payment_dates
print(f"The first payment date in our data is {df['payment_date'].min()}")
print(f"The last payment date in our data is {df['payment_date'].max()}")

The first payment date in our data is 2020-02-23 00:00:00
The last payment date in our data is 2021-01-28 00:00:00

In [ ]:
user_counts = pd.value_counts(df['account_id'])
user_counts.head()

xqQ5GR06N4QtQAC    28
GzQ5GR1Fn4QtQAJ    27
nUQ5GR1EK4QtQAT    25
RcQ5GR0p44QtQAI    24
cwQ5GR15j4QtQAE    24
Name: account_id, dtype: int64

In [21]:
payment_id_counts = pd.value_counts(df['payment_id']).to_frame().rename(columns={'payment_id':'count'})
payment_id_counts

               count
CBQfR02t8dQA2      2
BtQfR02t8dQAM      2
AmQfR02t8dQAM      2
i4QfR05g8dQAA      2
i5QfR05g8dQAA      2
...              ...
hwQfR0638dQAE      1
hxQfR0638dQAE      1
hyQfR0638dQAE      1
hzQfR0638dQAE      1
XyQfR05K8dQAK      1

[6611 rows x 1 columns]

Weird....some of the payment IDs are duplicates, but theyre associated with different accounts?

### Cleaning / Manipulating 
Things to do:
- determine if duplicates are a problem
- Convert `payment_date` column to datetime
- Add YearMonth Column
- Find month of first purchase (cohort month)

In [19]:
# look for missing values
df.isna().sum()

account_id      0
payment_id      0
payment_usd     0
payment_date    0
dtype: int64

We saw before that there are some payment duplicates. Let's get a list of all the different duplicates

In [11]:
# Get DataFrame with only these payment ids
df.loc[df.duplicated(subset='payment_id', keep=False)].sort_values(by='payment_id')

           account_id     payment_id  payment_usd payment_date
3821  O1Q5GR1SY4QtQAL  3iQfR02t8dQAE       125.00   2020-09-12
3378  10Q5GR0V04QtQAB  3iQfR02t8dQAE     14829.55   2020-09-30
3762  XrQ5GR1SZ4QtQAP  3sQfR02t8dQAE       250.00   2020-09-15
3842  aoQ5GR18t4QtQAA  3sQfR02t8dQAE        50.00   2020-09-11
3761  JQQ5GR1Rk4QtQAZ  3tQfR02t8dQAE       250.00   2020-09-15
...               ...            ...          ...          ...
5154  QmQ5GR1Ie4QtQAN  vtQfR05h8dQAE       250.00   2020-07-04
3896  YWQ5GR1L64QtQA3  wHQfR02t8dQAU       500.10   2020-09-08
3111  IfQ5GR0p64QtQAM  wHQfR02t8dQAU      2728.06   2020-10-09
1321  IfQ5GR1SC4QtQAL  yWQfR06N8dQAS        75.00   2020-12-10
748   2IQ5GR1cV4QtQAW  yWQfR06N8dQAS       500.00   2021-01-03

[558 rows x 4 columns]

We can see above that even though the `payment_id` are duplicated (twice for each), they appear to be associated with different values, dates, and accounts. Therefore it is justified to be keeping this data in our dataset, and treat the duplication as an artifact of the data entry.

In [16]:
# Convert the payment_date to datetime
df['payment_date'] = pd.to_datetime(df['payment_date'])

In [20]:
# Function to get the month for each payment date
def get_month(x):
    return dt.datetime(x.year,x.month,1)

#New column for payment month
df['payment_month'] = df['payment_date'].apply(get_month)

In [26]:
# Lets get the Cohort Group (month) for each customer
df_cohort = df.groupby('account_id')['payment_month']

In [27]:
# Add cohort data onto our original DataFrame
df['cohort'] = df_cohort.transform(min)
df.head()

,account_id,payment_id,payment_usd,payment_date,payment_month,cohort
0,hbQ5GR1L54QtQAB,QhQfR06N8dQAO,50.00,2021-01-28,2021-01-01,2020-05-01
1,vsQ5GR1KF4QtQAH,Q7QfR06N8dQAO,968.07,2021-01-28,2021-01-01,2020-04-01
2,5jQ5GR1Uz4QtQAB,Q6QfR06N8dQAO,763.67,2021-01-28,2021-01-01,2020-10-01
3,hnQ5GR1O34QtQAB,Q2QfR06N8dQAO,2378.57,2021-01-28,2021-01-01,2020-08-01
4,ztQ5GR1Ha4QtQAF,Q0QfR06N8dQAO,2855.84,2021-01-28,2021-01-01,2020-03-01

In [34]:
# Check to make sure this makes sense
df.sort_values(by=['account_id','payment_month']).head(20)

,account_id,payment_id,payment_usd,payment_date,payment_month,cohort
2889,09Q5GR1T44QtQAF,orQfR02t8dQAA,500.0,2020-10-19,2020-10-01,2020-10-01
2054,09Q5GR1T44QtQAF,dGQfR0638dQAU,500.0,2020-11-19,2020-11-01,2020-10-01
1106,09Q5GR1T44QtQAF,wmQfR06N8dQAC,502.5,2020-12-19,2020-12-01,2020-10-01
255,09Q5GR1T44QtQAF,oHQfR06N8dQAW,252.5,2021-01-19,2021-01-01,2020-10-01
73,0BQ5GR1dd4QtQAU,NuQfR06N8dQAO,500.0,2021-01-26,2021-01-01,2021-01-01
2927,0EQ5GR1U94QtQAV,vlQfR02t8dQAA,400.0,2020-10-17,2020-10-01,2020-10-01
3003,0EQ5GR1U94QtQAV,CUQfR02t8dQAY,400.0,2020-10-14,2020-10-01,2020-10-01
2119,0EQ5GR1U94QtQAV,e0QfR0638dQAE,508.5,2020-11-17,2020-11-01,2020-10-01
2184,0EQ5GR1WQ4QtQAT,i6QfR0638dQAE,250.0,2020-11-15,2020-11-01,2020-11-01
1223,0EQ5GR1WQ4QtQAT,6fQfR06N8dQAC,250.0,2020-12-15,2020-12-01,2020-11-01
5860,0LQ5GR1Kh4QtQAR,dqQfR05g8dQAA,25.0,2020-05-14,2020-05-01,2020-05-01
5055,0LQ5GR1Kh4QtQAR,d2QfR05h8dQAE,30.0,2020-07-08,2020-07-01,2020-05-01
4661,0LQ5GR1Kh4QtQAR,WuQfR05h8dQAI,30.0,2020-08-03,2020-08-01,2020-05-01
4066,0LQ5GR1Kh4QtQAR,4oQfR02t8dQAE,30.0,2020-09-03,2020-09-01,2020-05-01
3323,0LQ5GR1Kh4QtQAR,hcQfR02t8dQAE,30.0,2020-10-03,2020-10-01,2020-05-01
2534,0LQ5GR1Kh4QtQAR,87QfR0638dQAE,30.0,2020-11-03,2020-11-01,2020-05-01
1641,0LQ5GR1Kh4QtQAR,y9QfR06N8dQAC,30.0,2020-12-03,2020-12-01,2020-05-01
1673,0LQ5GR1Kh4QtQAR,0TQfR06M8dQAS,30.0,2020-12-03,2020-12-01,2020-05-01
770,0LQ5GR1Kh4QtQAR,gHQfR06N8dQAS,30.0,2021-01-03,2021-01-01,2020-05-01
6634,0NQ5GR13l4QtQAQ,qoQfR05L8dQAG,50.0,2020-03-15,2020-03-01,2020-03-01

Looks Good! Let's now find out the Period from Cohort month for each transaction. This is the difference between the `cohort` and `payment_month` columns

In [40]:
# New column for period of each entry
df['period'] = ((df['payment_date'] - df['cohort'])/np.timedelta64(1, 'M')) # difference in dates
df['period'] = df['period'].astype('int')
df.sort_values(by=['period'], ascending=False).head(20)

,account_id,payment_id,payment_usd,payment_date,payment_month,cohort,period
125,PrQ5GR07s4QtQAI,OBQfR06N8dQA4,100.00,2021-01-24,2021-01-01,2020-02-01,11
616,cuQ5GR0o74QtQAA,6XQfR06N8dQAW,2245.15,2021-01-08,2021-01-01,2020-02-01,11
105,k0Q5GR0t34QtQAA,QTQfR06N8dQA4,858.84,2021-01-24,2021-01-01,2020-02-01,11
34,LLQ5GR0bx4QtQA2,PoQfR06N8dQAO,125.00,2021-01-27,2021-01-01,2020-02-01,11
103,TqQ5GR11G4QtQAK,NjQfR06N8dQAO,250.00,2021-01-25,2021-01-01,2020-02-01,11
40,qSQ5GR14r4QtQAU,OTQfR06N8dQA4,50.00,2021-01-27,2021-01-01,2020-02-01,11
44,1hQ5GR0eA4QtQAG,NqQfR06N8dQAO,500.00,2021-01-27,2021-01-01,2020-02-01,11
627,v5Q5GR0Qs4QtQAB,6QQfR06N8dQAW,952.54,2021-01-08,2021-01-01,2020-02-01,11
148,GvQ5GR1Be4QtQAN,PWQfR06N8dQA4,50.39,2021-01-23,2021-01-01,2020-02-01,11
48,gMQ5GR19b4QtQAU,NcQfR06N8dQAO,1161.25,2021-01-27,2021-01-01,2020-02-01,11
624,1FQ5GR14q4QtQAQ,6sQfR06N8dQAG,842.34,2021-01-08,2021-01-01,2020-02-01,11
52,67Q5GR1Bg4QtQAB,Q1QfR06N8dQAO,818.52,2021-01-26,2021-01-01,2020-02-01,11
54,lxQ5GR0zQ4QtQAC,PmQfR06N8dQAO,50.00,2021-01-26,2021-01-01,2020-02-01,11
436,DdQ5GR0bu4QtQAM,tJQfR06N8dQAW,50.00,2021-01-12,2021-01-01,2020-02-01,11
27,ctQ5GR11H4QtQAC,O1QfR06N8dQAO,3415.19,2021-01-28,2021-01-01,2020-02-01,11
683,yIQ5GR1Bg4QtQAR,8UQfR06N8dQAW,500.00,2021-01-06,2021-01-01,2020-02-01,11
85,fdQ5GR14s4QtQAA,PxQfR06N8dQAO,1060.12,2021-01-25,2021-01-01,2020-02-01,11
156,cHQ5GR0BH4QtQAX,PFQfR06N8dQA4,250.00,2021-01-23,2021-01-01,2020-02-01,11
652,7AQ5GR0bx4QtQAU,6dQfR06N8dQAG,324.50,2021-01-08,2021-01-01,2020-02-01,11
597,k0Q5GR0t34QtQAA,7TQfR06N8dQAW,242.52,2021-01-08,2021-01-01,2020-02-01,11

### Visualisation (Heatmap)
Finally we can use this data to create our LTV heatmap

In [ ]:
# First need a new DataFrame for our cohort sizes